/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
/*
 * Normalization
 */
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700&subset=latin,latin-ext);
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  text-size-adjust: 100%; }

audio:not([controls]) {
  display: none; }

details {
  display: block; }

input[type="number"] {
  width: auto; }
input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

main {
  display: block; }

summary {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 75%; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

[unselectable] {
  user-select: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0; }

:root {
  box-sizing: border-box;
  cursor: default;
  font: 16px/1.5 sans-serif;
  text-rendering: optimizeLegibility; }

html {
  background-color: #FFFFFF; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button,
input,
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::selection {
  background-color: #B3D4FC;
  text-shadow: none; }

@media screen {
  [hidden~="screen"] {
    display: inherit; }

  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }
body {
  color: #5c5c5c;
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.45;
  text-rendering: optimizeLegibility; }

h1,
h2,
h3,
h4 {
  font-weight: 400;
  line-height: 1.2em;
  margin: 1.414em 0 .5em; }

h1 {
  font-size: 3.998em;
  margin-top: 0; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

small,
header a {
  font-size: .707em; }

p {
  color: #787878; }

.title-copy {
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  width: 100%; }

* {
  outline: none; }

input,
input + button {
  border: 2px solid #30323a;
  margin: 0;
  padding: 4px 8px; }

input {
  border: 2px solid #30323a;
  border-radius: 5px 0 0 5px;
  margin: 0; }

input + button {
  background-color: #30323a;
  color: white;
  margin-left: -5px;
  border-radius: 0 5px 5px 0; }

.info,
.illustration,
.signup,
.container {
  margin: 0 auto 2em;
  max-width: 966px;
  padding: 2em 15px 0; }

#header {
  background: linear-gradient(rgba(48, 50, 58, 0.8), rgba(48, 50, 58, 0.8)), url(../img/bg.jpg) center center no-repeat;
  background-size: cover;
  height: 40vh;
  min-height: 128px;
  overflow: hidden; }
  #header .container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 25px;
    height: 10vh;
    clear: both; }
  #header h1 {
    margin: 0; }
  #header .hero-text {
    display: table;
    height: 30vh;
    padding: 0; }
  #header p {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    font-size: 2em;
    color: #fff; }
  @media screen and (max-width: 480px) {
    #header h1 {
      margin-bottom: .5em; }
    #header p {
      display: none; } }

header a {
  color: rgba(255, 255, 255, 0.45);
  font-weight: 700;
  line-height: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s cubic-bezier(0.65, 0.05, 0.36, 1); }
  header a:hover {
    color: rgba(255, 255, 255, 0.95); }

.main-nav {
  display: block;
  float: right;
  text-transform: uppercase; }
  @media screen and (max-width: 480px) {
    .main-nav {
      float: none; }
      .main-nav ul {
        margin: 0 auto;
        text-align: center;
        width: fit-content; }
      .main-nav li {
        display: inline-block;
        float: none;
        padding-left: 20px; } }
  .main-nav ul {
    list-style-type: none;
    padding: 0; }
  .main-nav li {
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 25px; }
    .main-nav li:first-child {
      padding-left: 0; }

.download {
  border: 2px solid rgba(255, 255, 255, 0.45);
  border-radius: 5px;
  transition: border-color 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  padding: 8px 16px;
  transition-property: color, border-color; }
  .download:hover {
    border-color: rgba(255, 255, 255, 0.75); }

.header-logo {
  background: transparent url("../img/logo.png") center center no-repeat;
  display: block;
  float: left;
  height: 58px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 58px; }
  @media screen and (max-width: 480px) {
    .header-logo {
      clear: both;
      float: none;
      margin: 0 auto; } }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .header-logo {
      background-image: url("../img/logo@2x.png");
      background-size: contain; } }

.info,
.illustration,
.signup {
  border-top: 1px solid #efefef; }

.info h2 {
  margin-top: .15em; }
.info.orange {
  background-color: #f15631;
  box-sizing: content-box;
  max-width: 100%;
  padding: 32px; }
  .info.orange h3,
  .info.orange p {
    color: white; }
  .info.orange + .info,
  .info.orange + .illustration {
    border-top: 0; }
.info.small h3,
.info.small p {
  margin: 0 auto 1em;
  text-align: center; }

.illustration {
  overflow: auto;
  max-width: 75vw;
  margin-bottom: 1px solid #787878; }
  .illustration figure {
    display: block;
    float: left;
    padding: 30px;
    width: 33vw; }
    .illustration figure img {
      width: 100%;
      height: auto; }
  .illustration.right figure {
    float: right; }
  @media screen and (max-width: 600px) {
    .illustration {
      text-align: center; }
      .illustration h3 {
        margin-top: .5em; }
      .illustration figure {
        display: block;
        clear: both;
        width: 100%; }
      .illustration.right figure {
        float: none; } }

form {
  text-align: center; }
