%container,
.container {
  margin: 0 auto 2em;
  max-width: 966px;
  padding: 2em 15px 0;
}

#header {
  $trans-blue: transparentize($blue, .2);
  background: linear-gradient($trans-blue, $trans-blue), url(../img/bg.jpg) center center no-repeat;
  background-size: cover;
  height: 40vh;
  min-height: 128px;
  overflow: hidden;

  .container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 25px;
    height: 10vh;
    clear: both;
  }

  h1 {
    margin: 0;
  }

  .hero-text {
    display: table;
    height: 30vh;
    padding: 0;
  }

  p {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    font-size: 2em;
    color: #fff;
  }
  @media screen and (max-width: 480px) {
    h1 {
      margin-bottom: .5em;
    }
    p {
      // display: none;
    }
  }
}

header a {
  @extend %font-small;
  color: $trans-white;
  font-weight: 700;
  line-height: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  transition: color $transition-props;

  &:hover {
    color: opacify($trans-white, .5);

  }
}

.main-nav {
  display: block;
  float: right;
  text-transform: uppercase;
  @media screen and (max-width: 480px) {
    float: none;

    ul {
      margin: 0 auto;
      text-align: center;
      width: fit-content;
    }

    li {
      display: inline-block;
      float: none;
      padding-left: 20px;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 25px;

    &:first-child {
      padding-left: 0;
    }
  }
}

.download {
  @include button();
  transition-property: color, border-color;
}

.header-logo {

  background: transparent url('../img/logo.png') center center no-repeat;
  display: block;
  float: left;
  height: 58px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 58px;
  @media screen and (max-width: 480px) {
    clear: both;
    float: none;
    margin: 0 auto;
  }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    background-image: url('../img/logo@2x.png');
    background-size: contain;
  }
}

.info,
.illustration,
.signup {
  @extend %container;
  border-top: 1px solid #efefef;
}

.info {
  h2 {
    margin-top: .15em;
  }

  &.orange {
    background-color: $orange;
    box-sizing: content-box;
    max-width: 100%;
    padding: 32px;

    h3,
    p {
      color: white;
    }

    +.info,
    +.illustration {
      border-top: 0;
    }
  }

  &.small {
    h3,
    p {
      margin: 0 auto 1em;
      text-align: center;
    }
  }
}

.illustration {
  overflow: auto;
  max-width: 75vw;
  margin-bottom: 1px solid $light-grey;

  figure {
    display: block;
    float: left;
    padding: 30px;
    width: 33vw;
    img {
      width: 100%;
      height: auto;
    }
  }

  &.right {
    figure {
      float: right;
    }
  }
  @media screen and (max-width: 600px) {
    text-align: center;
    h3 {
      margin-top: .5em;
    }
    figure {
      display: block;
      clear: both;
      width: 100%;
    }
    &.right {
      figure {
        float: none;
      }
    }
  }
}

form {
  text-align: center;
}
