%container,
.container {
  margin: 0 auto 2em;
  max-width: 966px;
  padding: 2em 15px 0;
}

#header {
  $trans-blue: transparentize($blue, .2);
  background: linear-gradient($trans-blue, $trans-blue), url(../img/bg.jpg) center center no-repeat;
  background-size: cover;
  height: 50vh;
  min-height: 128px;
  overflow: hidden;

  .container {
    margin: 0 auto;
    padding: 0 15px;
  }

  h1 {
    margin: 32px 0 0;
  }
}

header a {
  @extend %font-small;
  color: $trans-white;
  font-weight: 700;
  line-height: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  transition: color $transition-props;

  &:hover {
    color: opacify($trans-white, .5);

  }
}

.main-nav {
  display: block;
  float: right;
  text-transform: uppercase;

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 25px;

    &:first-child {
      padding-left: 0;
    }
  }
}

.download {
  @include button();
  transition-property: color, border-color;
}

.header-logo {
  background: transparent url('../img/logo.png') center center no-repeat;
  display: block;
  float: left;
  height: 58px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 58px;

  @media all and (-webkit-min-device-pixel-ratio: 2) {
    background-image: url('../img/logo@2x.png');
    background-size: contain;
  }
}

.info,
.illustration,
.signup {
  @extend %container;
  border-top: 1px solid #efefef;
}

.info {
  h2 {
    margin-top: .15em;
  }

  &.orange {
    background-color: $orange;
    box-sizing: content-box;
    max-width: 100%;
    padding: 32px;

    h3,
    p {
      color: white;
    }

    +.info,
    +.illustration {
      border-top: 0;
    }
  }

  &.small {
    h3,
    p {
      margin: 0 auto 1em;
      text-align: center;
    }
  }
}

.illustration {
  overflow: auto;
  max-width: 75vw;
  margin-bottom: 1px solid $light-grey;

  figure {
    display: block;
    float: left;
    padding: 30px;
    width: 33vw;
  }

  &.right {
    figure {
      float: right;
    }
  }
}

form {
  text-align: center;
}
