.container {
  margin: 0 auto;
  max-width: 966px;
  padding: 0 15px;
}

#header {
  background-color: $blue;
  height: 300px;
  overflow: hidden;
}

header a {
  @extend .font-small;
  color: $trans-white;
  font-weight: 700;
  line-height: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  transition: color $transition-props;

  &:hover {
    color: opacify($trans-white, .5);

  }
}

.main-nav {
  display: block;
  float: right;
  text-transform: uppercase;

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 25px;

    &:first-child {
      padding-left: 0;
    }
  }
}

.download {
  @include button();
  transition-property: color, border-color;
}

.header-logo {
  background: transparent url('../img/logo.png') center center no-repeat;
  display: block;
  float: left;
  height: 58px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 58px;

  @media all and (-webkit-min-device-pixel-ratio: 2) {
    background-image: url('../img/logo@2x.png');
    background-size: contain;
  }
}
