<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- {{ content }} -->
    <main>
      <section class="info">
        <h2>Lorem</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quis, accusantium doloremque. Accusantium consequuntur quasi praesentium cupiditate fugiat magnam eaque recusandae suscipit quod ipsa hic blanditiis libero velit voluptatibus, culpa.</p>
      </section>

      <section class="info small">
        <h3>Some Bold Statement</h3>
        <p>Some descriptive text to elaborate.</p>
      </section>

      <section class="illustration">
        <figure>
          <img src="apple-touch-icon-precomposed.png" alt="">
        </figure>
        <h3>Some Descriptive Text</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </section>

      <section class="info small orange">
        <h3>Some Bold Statement</h3>
        <p>Some descriptive text to elaborate.</p>
      </section>

      <section class="illustration right">
        <figure>
          <img src="apple-touch-icon-precomposed.png" alt="">
        </figure>
        <h3>Some Descriptive Text</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </section>

      <section class="signup">
        <form action="#">
          <input type="email" placeholder="Your email address">
          <button>Sign Up</button>
        </form>
      </section>

    </main>

    {% include footer.html %}

  </body>

</html>
